<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>codeandweb</key>
        <dict>
            <key>generator</key>
            <string>TexturePacker 3.8.0 - http://www.codeandweb.com/texturepacker</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:845b3acb835856d9cb423f582801fc6d:824f9ed7bbed157f4ba9fca93e0b45df:ce22a9b70a8b8090324ea26a3e4b3dfa$</string>
        </dict>
        <key>format</key>
        <string>APPL</string>
        <key>images</key>
        <array>
            <dict>
                <key>path</key>
                <string>sprites.1.png</string>
                <key>size</key>
                <string>{1526,212}</string>
                <key>subimages</key>
                <array>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>8bits/LV1/SELECT/0002.png</string>
                        <key>spriteOffset</key>
                        <string>{0,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{210,263}</string>
                        <key>textureRect</key>
                        <string>{{1,1},{263,210}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>8bits/LV1/HIGHLIGHT/0002.png</string>
                        <key>spriteOffset</key>
                        <string>{0,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{210,256}</string>
                        <key>textureRect</key>
                        <string>{{266,1},{256,210}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>8bits/LV1/HIGHLIGHT/0001.png</string>
                        <key>spriteOffset</key>
                        <string>{0,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{210,210}</string>
                        <key>textureRect</key>
                        <string>{{524,1},{210,210}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>8bits/LV1/SELECT/0001.png</string>
                        <key>spriteOffset</key>
                        <string>{15,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{210,195}</string>
                        <key>textureRect</key>
                        <string>{{736,1},{195,195}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>8bits/LV0/NORMAL/0002.png</string>
                        <key>spriteOffset</key>
                        <string>{0,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{151,189}</string>
                        <key>textureRect</key>
                        <string>{{933,1},{151,189}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>8bits/LV1/NORMAL/0001.png</string>
                        <key>spriteOffset</key>
                        <string>{0,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{165,180}</string>
                        <key>textureRect</key>
                        <string>{{1086,1},{165,180}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>8bits/LV1/NORMAL/0002.png</string>
                        <key>spriteOffset</key>
                        <string>{11,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{161,180}</string>
                        <key>textureRect</key>
                        <string>{{1253,1},{150,180}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>8bits/LV0/NORMAL/0001.png</string>
                        <key>spriteOffset</key>
                        <string>{0,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{120,150}</string>
                        <key>textureRect</key>
                        <string>{{1405,1},{120,150}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                </array>
            </dict>
        </array>
        <key>version</key>
        <integer>1</integer>
    </dict>
</plist>
