<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>codeandweb</key>
        <dict>
            <key>generator</key>
            <string>TexturePacker 3.8.0 - http://www.codeandweb.com/texturepacker</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1dc67620301cfce952083b15e9338203:ca33df3a112cb81da07af9e1de5a542a:ce22a9b70a8b8090324ea26a3e4b3dfa$</string>
        </dict>
        <key>format</key>
        <string>APPL</string>
        <key>images</key>
        <array>
            <dict>
                <key>path</key>
                <string>sprites.1.png</string>
                <key>size</key>
                <string>{428,495}</string>
                <key>subimages</key>
                <array>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>blink/0002.png</string>
                        <key>spriteOffset</key>
                        <string>{7,13}</string>
                        <key>spriteSourceSize</key>
                        <string>{240,300}</string>
                        <key>textureRect</key>
                        <string>{{1,1},{228,278}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>blink/0001.png</string>
                        <key>spriteOffset</key>
                        <string>{7,23}</string>
                        <key>spriteSourceSize</key>
                        <string>{240,300}</string>
                        <key>textureRect</key>
                        <string>{{1,281},{225,213}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>normal/0001.png</string>
                        <key>spriteOffset</key>
                        <string>{21,15}</string>
                        <key>spriteSourceSize</key>
                        <string>{240,300}</string>
                        <key>textureRect</key>
                        <string>{{228,281},{196,213}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>normal/0002.png</string>
                        <key>spriteOffset</key>
                        <string>{21,23}</string>
                        <key>spriteSourceSize</key>
                        <string>{240,300}</string>
                        <key>textureRect</key>
                        <string>{{231,1},{196,213}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                </array>
            </dict>
        </array>
        <key>version</key>
        <integer>1</integer>
    </dict>
</plist>
